### Data Frames

A dataframe is a named set of data arranged in rows(aka records or observations) and columns(aka variables or attributes).  Column lengths in a data frame are all equal.

In [3]:
custData <- data.frame(name=c("Tom","Sally","Sue"),
                     age=c(43,28,35),
                     stringsAsFactors=F
                     )
custData
custData$name
class(custData)
class(custData$age)

  name  age
1 Tom   43
2 Sally 28
3 Sue   35

[1] "Tom"   "Sally" "Sue"

[1] "data.frame"

[1] "numeric"

In [4]:
custData$name[custData$age>40] # Select from one col based on vals in another
custData[1,2]  # row1,col2 item
custData[,2]   # entire second column
custData[1,2:3]  # error because there is no third column

[1] "Tom"

[1] 43

[1] 43 28 35

ERROR: Error in `[.data.frame`(custData, 1, 2:3): undefined columns selected

In [12]:
dim(custData)

[1] 3 2

Use rbind to add a new row, cbind to add a new column.  Lengths and types must agree.

In [13]:
newrec <- data.frame(name="Mark",age=33)
custData <- rbind(custData,newrec)
custData

  name  age
1 Tom   43
2 Sally 28
3 Sue   35
4 Mark  33

In [14]:
debt <- c(0,25.50,36,48.19)
custData <- cbind(custData,debt)
custData

  name  age debt
1 Tom   43   0.00
2 Sally 28  25.50
3 Sue   35  36.00
4 Mark  33  48.19

In [15]:
owesMoney <- custData$name[custData$debt>0]
owesMoney

[1] "Sally" "Sue"   "Mark"