### Vectors

In [1]:
numbers <- c(3,2,0,1,8)  # use c() to concatenate items into a vector
numbers

[1] 3 2 0 1 8

In [2]:
numbers[1]  # Note that indexing starts at 1, not 0!

[1] 3

In [3]:
length(numbers)

[1] 5

In [4]:
numbers[length(numbers)]

[1] 8

In [5]:
numbers[-1] # drop first

[1] 2 0 1 8

In [6]:
numbers[-3] # drop third

[1] 3 2 1 8

In [7]:
numbers[c(1,2,4)]

[1] 3 2 1

In [9]:
numbers[numbers > 4]

[1] 8

In [10]:
numbers[3:5]

[1] 0 1 8

In [14]:
numbers[numbers>4]<- 99
numbers

[1]  3  2  0  1 99

In [17]:
sort(numbers, decreasing=T)
sort(numbers)

[1] 99  3  2  1  0

[1]  0  1  2  3 99

In [18]:
oneToTen <- 1:10
oneToTen

 [1]  1  2  3  4  5  6  7  8  9 10

In [19]:
byThrees <- seq(from=3, to=27, by=3)
byThrees

[1]  3  6  9 12 15 18 21 24 27

In [21]:
evens <- seq(from=0, by=2, length.out=11)
evens

 [1]  0  2  4  6  8 10 12 14 16 18 20

In [25]:
odds <- evens + 1
odds

 [1]  1  3  5  7  9 11 13 15 17 19 21

In [27]:
sprintf("4 %%in%% evens = %s", 4 %in% evens)

[1] "4 %in% evens = TRUE"

In [28]:
rep(x=2,times=5,each=2)           # this is like APL's rho operator
rep(x=c(1,2,3),times=2,each=2)

 [1] 2 2 2 2 2 2 2 2 2 2

 [1] 1 1 2 2 3 3 1 1 2 2 3 3