### Factors in R

Use factor(varname) to create a factor.  The variable can be a vector of string or numeric values.  Factors can be used for grouping within analyses.

In [1]:
direction <- c("Up", "Left", "Right","Down","Left", "Up")
factorDir <- factor(direction)
is.factor(factorDir)

[1] TRUE

A factor variable contains unique levels even if defined from a non-unique list.

In [2]:
levels(factorDir)  # Note that default order is alphabetical

[1] "Down"  "Left"  "Right" "Up"

The factor() operator also lets you control the order in which factors will be displayed.

In [5]:
dow <- c("Mon", "Tue","Wed","Thu","Fri","Sat","Sun")
workDays <- c("Tue","Thu","Mon")
wdFact = factor(x=workDays, levels=dow,ordered=T)
wdFact
levels(wdFact)

[1] Tue Thu Mon
Levels: Mon < Tue < Wed < Thu < Fri < Sat < Sun

[1] "Mon" "Tue" "Wed" "Thu" "Fri" "Sat" "Sun"

###  Using Factors for Grouping

In [14]:
movesTaken <- c(4,2,6,7,4,3)
factorDir
movesTaken
aggregate(movesTaken~factorDir, FUN=sum)  # Add up moves in each direction

[1] Up    Left  Right Down  Left  Up
Levels: Down Left Right Up

[1] 4 2 6 7 4 3

  factorDir movesTaken
1 Down      7
2 Left      6
3 Right     6
4 Up        7

In [19]:
myWorkDays <- c("Mon", "Tue","Wed","Thu","Fri","Mon", "Tue","Wed","Thu","Fri")
myHours <- c(8,9,7,5,3,8,8,8,4,3)
mywdFact <- factor(myWorkDays, dow, ordered=T)
aggregate(myHours~mywdFact, FUN=sum)

  mywdFact myHours
1 Mon      16
2 Tue      17
3 Wed      15
4 Thu       9
5 Fri       6

In [20]:
by(myHours,mywdFact,sum)  # another way

mywdFact: Mon
[1] 16
------------------------------------------------------------
mywdFact: Tue
[1] 17
------------------------------------------------------------
mywdFact: Wed
[1] 15
------------------------------------------------------------
mywdFact: Thu
[1] 9
------------------------------------------------------------
mywdFact: Fri
[1] 6
------------------------------------------------------------
mywdFact: Sat
[1] NA
------------------------------------------------------------
mywdFact: Sun
[1] NA

In [33]:
tapply(myHours,mywdFact,FUN=sum)

Mon Tue Wed Thu Fri Sat Sun
 16  17  15   9   6  NA  NA